@{
  Layout = "_Layout";
}
@model Factory.Models.Engineer

<div class="container">
  <h4>Are you sure you want to delete this engineer?</h4>
  <div class="table">
    @Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)
    <div style="float: right;">
      @using (Html.BeginForm())
      {
        <input type="submit" class="btn btn-danger" value="Delete" />
      }
    </div>
  </div>
  <div style="display: inline-block;">
    <p>@Html.ActionLink("Back to List", "Index")</p>
  </div>
  <div style="display: inline-block; padding-left: 7px;">
    <p>@Html.ActionLink("Home", "Index", "Home")</p>
  </div>
</div>
